
        body{
            font-family: arial;
            background-image:url(public/image/bgpic1.jpg), url(public/image/bgpic2.png),url(public/image/bgpic2.png);
            background-repeat: no-repeat;
            background-position:right,left,center;
            background-size: contain;
            background-attachment: fixed;
            height:100vh;
            margin: 0px;
            padding: 0px;
        }
        img{
            width: 100vh;
        }
        header{
            color: white;
            background-color: transparent;
            padding: 20px 70px 30px 70px;
            margin-bottom: 70px;
        }
        .container1{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .time{
            display: flex;
            justify-content: space-between;
        }
       .bi-clock, .bi-telephone{
        float: left;
        font-size: 50px;
        padding-right: 10px;
       }
       .clock{
        font-size: 20px;
       }
       .one, .two{
        padding-left: 30px;
        width: 250px;
       }
       .brand-name{
        font-size: 25px;
        font-weight: bold;
       }
       .online-link{
        font-size: 30px;
       }
       [class*='bi']{
        padding-right: 5px;
       }
       .container2{
        display: flex;
        background-color: rgba(255, 255, 255 , 0.2);
        align-items: center;
        justify-content: space-between;
       }
       .cont-nav span{
        padding-right: 50px;
        text-shadow: 1px 2px 2px gray;
       }
       .shape{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 16% 100%);
        background-color: rgb(19, 78, 78);
        width: 350px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 150px;
        font-weight: bold;
       }
       .cont-bold{
        font-weight: bold;
        color: lightseagreen;
        padding-left: 20px;
       }
       .sectMain{
        /* transform: translateX(70px); */
        margin-left: 70px;
        color: white;
        margin-bottom: 200px;
        animation: animation ;
        animation-duration: 2s;
        animation-delay: 1s;

       }
       .text{
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 5px;
        color: rgb(144, 142, 142);
       }
       .textdes{
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 20px;
       }
       input[value*='GET']{
        width: 170px;
        height: 50px;
        background-color: aqua;
        color: white;
        font-weight: bold;
        margin-right: 5px;
        margin-top: 30px;
        border: none;
        border-radius: 9px;
       }
       input[value*='VIEW']{
        width: 170px;
        height: 50px;
        background-color: white;
        color: aqua;
        font-weight: bold;
        margin-right: 5px;
        margin-top: 30px;
        border: none;
        border-radius: 9px;
       }
       .inp{
        margin-bottom: 60px;
       }
       section{
        margin-left: 0px;
        margin-right: 0px;
       }
       .sectmain2{
        height: 800px;
        background-color: rgb(245, 238, 238);
        background-image: url(public/image/laptopwomen-pic-1-.png);
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
        margin-left: 0px;
        margin-right: 0px;
        display:flex;
        justify-content: end;
       }
      .sectContent{
        padding: 100px 100px 100px 800px;
      }
      .sectCotent1{
        color: aqua;
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 10px;
      }
      .sectContent2{
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 25px;
      }
      .same{
        background-color: white;
        margin: 10px;
        padding: 28px;

      }
      .bi-book , .bi-patch-plus-fill, .bi-person-vcard-fill{
        font-size: 80px;
        float: left;
        padding-right: 25px;
        color: aqua;
      }
      .same:hover .bi-book, .same:hover .bi-patch-plus-fill, .same:hover .bi-person-vcard-fill{
        color: white;
        background-color: aqua;
      }
      .same:hover{
        color: white;
        background-color: aqua;
      }
      .sectmain3{
        height: 200px;
        background-image: url(public/image/men-pic-2.png);
        background-size: cover;
        background-color: white;
        border-top: lightgray;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .sectmain3 [class*='bi']{
        float: left;
        font-size: 60px;
        padding-right: 30px;
      }
      .sectsame{
        width: 200px;
        color: white;
      }
      .sectmain4{
        background-color: rgb(255, 255, 255);
        height: 180px;
        text-align: center;
        padding-top: 120px;
      }
      .main4title{
        color: rgb(8, 135, 135);
        font-weight: bold;
      }
      .main4text{
        font-size: 35px;
        font-weight: bold;
      }
      .sectmain5{
        background-color: white;
        height: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .sectMain-logo{
        margin-right: 20px;
        font-size: 45px;
        float: left;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        background-color: rgb(8, 135, 135);
        text-align: center;
        padding: 5px 5px 0px 5px;
        color: white;
      }
      .cardmain5{
        background-color:white ;
        margin-right: px;
        box-shadow: 0px 0px 5px lightgray;
        margin-left: 90px;
        width: 500px;
        height: 400px;
        padding: 20px;
      }
      .sectmain5-text{
        font-size: 23px;
        font-weight: bold;
      }
      .bi-star-fill{
        color: rgb(8, 135, 135);
      }
      code{
        font-size: 15px;
        font-weight: bold;
      }
      .star{
        padding: 20px 0px 10px 100px;
      }
      img[title]{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-left: 90px;
        float: left;
      }
      .logo-text{
        font-size: 15px;
        color: gray;
        padding-left: 10px;
      }
      .sametex-5{
        font-size: 15px;
        color: rgb(8, 135, 135);
        display: block;
        padding-top: 10px;
        margin-left: 90px;
        font-weight: bold;
      }
      .sectmain6, .sectmain8, .sectmain10{
        background-color: rgb(255, 253, 253);
        height: 220px;
        text-align: center;
        padding-top: 50px;
      }
      .main6title{
        color: rgb(8, 135, 135);
        font-weight: bold;
      }
      .main6text{
        font-size: 35px;
        font-weight: bold;
      }
      .sectmain7{
        height: 700px;
        background-color: white;
      }
      .sectmain-two{
        display: flex;
        justify-content: center;
      }
      .samecard7{
        height: 250px;
        width: 200px;
        margin: 10px;
        background-color: white;
        padding: 10px;
        box-shadow: 0px 0px 5px black;
      }
      .samecard7:hover{
        transform: scale(1.08);
        background-color:  rgb(34, 194, 194);
        color: wheat;
      }
      .samecard7:hover .sectMain7-logo{
        background-color:  rgb(34, 194, 194);
        color: wheat;

      }
      .sectMain7-logo{
        font-size: 80px;
        text-align: center;
        padding-left: 40px;
        color: rgb(34, 194, 194);
      }
      .sectmain7-text{
        font-size: 25px;
        font-weight: bold;
        display: block;
        text-align: center;
      }
      .but{
        height: 20px;
        width: 80px;
        border: 1px solid black;
        background-color: white;
        color: rgb(24, 172, 172);
        font-size: 13px;
        text-align: center;
        position: relative;        
        left: 50px;
      }
      .sectmain9{
        background-color: white ;
        display: flex;
        justify-content: center;
        height: 400px;
      }
      .main9card{
        height: 250px;
        width: 350px;
        box-shadow: 0px 0px 5px black;
        padding: 10px;
        text-align: left;
        margin-right: 30px;
      }
      .main9card2{
        height: 250px;
        width: 350px;
        box-shadow: 0px 0px 5px black;
        padding: 10px;
        text-align: left;
        margin-right: 30px;
        background-color: aqua;
      }
      img[alt]{
        height: 50px;
        width: 50px;
        margin: 10px;
        margin-top: 0px;
        border: 2px solid rgb(43, 79, 189);
      }
      .main9name{
        font-size: 15px;
        font-weight: bold;
      }
      .main9text{
        font-size: 15px;
        font-weight: bold;
        color: aqua;
      }
      .main9text2{
        font-size: 15px;
        font-weight: bold;
        color: white;
      }
      .main9expl{
        text-indent: 30px;
        text-align: justify;
        line-break: auto;
        color: gray;
        font-size: 20px;
      }
      .sectmain11{
        background-color: white;
        display: flex;
        justify-content: center;
        height: 800px;
        display: flex;
        justify-content: center;
      }
      figure{
        margin-top: 60px;
        height: 600px;
        background-size: cover;     
        box-shadow: 0px 0px 5px black;  
        margin-right: 10px; 
        margin-left: 10px;

      }
      figcaption{
        padding-top: 15px;
        padding-left: 25px;
        background-color: white;
      }
      img[width]{
        width: 460px;
      }
      .bi-person, .bi-calendar{
        color: aqua;
        font-size: 20px;
        font-weight: bold;
      }
      .person-text, .calendar-text{
        color: gray;
        font-size: 13px;
        padding-right: 15px;
      }
      .bi-chat-fill{
        color: aqua;
      }
      .figtitle{
        font-size: 30px;
        font-weight: bold;
      }
      .figtext{
        font-size: 20px;
      }
      .sectmain12{
        background-color: rgb(255, 253, 253);
        height: 220px;
        text-align: center;
        padding-top: 50px;
      }
      .main12title{
        color: aqua;
        font-size: 15px;
        margin-bottom: 5px;
        font-weight: bold;
      }
      .main12text{
        font-size: 45px;
        font-weight: bold;
      }
      .sectmain13{
        padding: 100px;
        text-align: center;
        background-color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
      }
      .card13{
        height: 490px;
        width: 350px;
        box-shadow: 0px 0px 5px black;
        padding: 50px;
        margin: 20px;
      }
      .head13{
        color: gray;
      }
      .row-text{
        color: gray;
      }
      .bi-currency-dollar{
        font-size: 20px;
        color: gray;
        align-items:start;
      }
      .row-num{
        font-size: 50px;
        color: rgb(6, 171, 171);
      }
      .row-text{
        color: gray;
      }
      .sectmain14{
        height: 200px;
        background-color: rgb(14, 125, 125);
        color: white;
        padding: 30px 50px 30px 50px;
      }
      .main14text{
        font-size: 23px;
        font-weight: bold;
      }
      .main14exp{
        font-size: 15px;
        color: rgb(224, 220, 220);
      }
      .main14text+button{
        transform: translateX(550px);
        color: white;
        border-bottom: 1px solid white;
        width: 300px;
        background-color: rgb(14, 125, 125) ;
        text-align: left;
      }
      .bi-telegram{
        position: relative;
        top: 5px;
        right: -520px;
        font-size: 20px;
      }
      .non-copywight{
        display: grid;
        grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr ;
        background-color: white;
        height: 450px;
        padding: 40px;
      }
      .Copyright{
        background-color: white;
        color: gray;
        text-align: center;
      }
    .bi-heart-fill{
      color: red;
    }
    .footer-head1{
      font-size: 25px;
      font-weight: bold;
    }
    .footer-head2{
      font-size: 25px;
      font-weight: bold;
    }
    
    .footer-head{
      font-size: 25px;
      font-weight: bold;
      padding-left: 20px;
    }
    .footer-one{
      font-size: 10px;
      font-weight: bold;
      color: rgb(10, 140, 140);
      padding-bottom: 30px;
    }
    .footer-text{
      font-size: 17px;
      color: gray;
    }
    ol{
      list-style: none;
    }
    li{
      color: black;
      padding-bottom: 10px;
    }
    .bi-arrow-right-short{
      color: rgb(14, 125, 125);
    }
    img[height]{
      height: 48px;
      width: 48px;
      float: left;
      padding-right: 5px;
    }
    .foot-cal{
      color: rgb(14, 125, 125);
      font-size: 13px;
    }
    .foot-figtitle{
      font-size: 15px;
    }
    .foot-link{
      color: rgb(14, 125, 125);
      margin-top:60px ;
    }
    .bi-foot{
      color: rgb(14, 125, 125);
      font-size: 15px;
    }
    @keyframes animation {
      from{
        transform: translate(40px, 30px);
      }
      t0{
        transform: translate(0px);
      }
    }
    .page-title, .online-link, .two, .time, .page-title{
      animation: title;
      animation-duration: 1.5s;
      animation-delay: 1s;
    }
    @keyframes title{
     from{
      transform: translateX(-50px);
     }
     to{
      transform: translateX(0px);
     }
    }
